body{
  padding: 3%;
  font-family: 'Josefin Sans', sans-serif;
}


.links{
  overflow: hidden;
  background-color: Orange;
  border: solid 2px black;
  margin-top: 2%;
  margin-bottom: 2%;
}

.links a{
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.links a:hover{
  background-color: white;
}

header{
  text-align: center;
  height: 20%;
  border: solid 2px black;

}

footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

aside{
  border: solid 2px black;
  text-align: center;
}

#thumnail-links img{
  width: 200px;
  height: 200px;
  object-fit: none;

}

#results img{
  padding: 5px;
  padding: 5px;
  width: 50%;
  height: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  transition: transform 2s;
}

#results img:hover{
  transform: scale(2.0);
}

section{
  padding: 2%;
}
